.body{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  'sidebar header header header'
  'sidebar main main main';
  height: 100vh;
}

.icon{
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header{
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header{
  margin-right: 5px;
}
.header{
  grid-area: header;
  display: flex;
  height: 60px;
  align-items: flex-end;
  justify-content:right ;
  padding: 0 30px 0 30px;
}
.main-icon{
  display: none;
}
#sidebar{
  grid-area: sidebar;
  height: 100%;
  color: white ;
  background-color: rgb(49, 49, 128);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.s-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 15px 30px 0 30px;
}
.s-title > span{
  display: none;
}
.s-icon{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.s-li{
  padding: 0;
  list-style-type: none;
}
.s-li-items{
  font-size: 18px;
  padding: 20px 20px 20px 20px;
}
.s-li-items:hover{
  background-color: rgb(49, 49, 128);
  cursor: pointer;
}
.s-li-items > a {
  text-decoration: none;
  color: white 
}
.sidebar-responsive{
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}